* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.wrapper {
    width: 80%;
    min-width: 930px;
    margin:0 auto;
    text-align: center;
    
}
.wrapper ul {
    width:930px;
    display:inline-block;
    
}
.wrapper ul li {
   float: left;
  
   
}
.wrapper ul li .item {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 5px 10px;
    
    
}
.wrapper ul li .item img {
    width: 200px;
    height: auto;
    
}
.wrapper .loading {
    font-weight: bolder;
    font-size: 30px;
    color: #ccc;
    display: none;
}